.mainGrid {
  display: grid;
  grid-template-areas:
    "topbar topbar topbar"
    "nav content ad"
    "footer footer footer";

  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 80px auto 200px;
}

.header {
  grid-area: topbar;
  background-color: black;
}

.nav {
  grid-area: nav;
  height: 400px;
  background-color: blueviolet;
}

.content {
  grid-area: content;
  background-color: pink;
}

.ad {
  grid-area: ad;
  background-color: rgb(255, 79, 79);
}

.footer {
  grid-area: footer;
  background-color: blue;
}
